@media screen and(max-width:1140px) {
    main .contatiner{
        width: 992px;
    }

    section .contatiner{
        width: 600px;
    }

    section .about-self .left{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    section .about-self .right{
        width: 100%;
        padding: 0;
    }
    
    section .do-me .do-inner{
        width: 48%;
        margin-bottom: 48%;
        margin-right: 0;
    }
    section .do-me .do-inner:nth-child(2n+1){
        margin-right: 4%;
    }
    section .portfolio-me .portfolio-inner{
        width: 48%;
        margin-right: 0;
    }
    section .portfolio-me .portfolio-inner:nth-child(2n+1){
        margin-right: 4%;
    }
    section.contact .contact-me .left{
        width: 100%;
    }
    section.contact .contact-me .right{
        width: 100%;
        margin-left: 0;
    }
}
@media screen and(max-width:992px) {
    html{
        font-size: 14px;
    }
    main .contatiner{
        width: 768px;
    }
    section .portfolio-me .portfolio-inner{
        width: 100%;
    }
    
}
@media screen and(max-width:768px){
    html{
        font-size: 13px;
    }
    main .contatiner{
        width: 576px;
    }
    section .contatiner{
        width: 400px;
    }
    section .do-me .do-inner{
        width: 100%;
        margin-right: 0;
    }
}
@media screen and(max-width:576px){
    html{
        font-size: 12px;
    }
    main .contatiner{
        width: 400px;
    }
    section .contatiner{
        width: 360px;
    }
}
@media screen and(max-width:400px){
    html{
        font-size: 11px;
    }
    main .contatiner{
        width: 320px;
    }
    section .contatiner{
        width: 320px;
    }
    main h4{
        font-size: 1.5rem;
    }
    section .title h2{
        font-size: 3rem;
    }
}
